<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
<% if current_user.id != @user.id %>
  <%= render 'form' %>
<% end %>
</section>

<h3>All my friends: </h3>

  <% @friendships.each do |friend| %>
    <% if current_user.id == friend.user_id %>
      <% @friends = [] %>
      <%= friend.friend.name %>
    <% end %> 
      <br> 
    <% if current_user.id == friend.friend_id %>
      <%= friend.user.name %>

    <% end %>    
  <% end %>

<h3>All my friends: </h3>
